html, body {
	margin: 0px;
	height: 100%;
	background-color: lightgrey;
}
/*header*/
	.header {
		padding: 25px;
	}

	.header h1 {
		margin: 0px;
	}

img {
	/*background-color: white;*/
}

#timeplanPolynomloser {
	display: flex;
}

#timeplan {
	width: 50%;
	height: 500px;
}

#polynomloser {
	width: 50%;
	height: 500px;
}

/*Meny*/
	.meny div ul {
		list-style-type: none;
		display: none;
		margin: 0px;
		padding: 0px;
		position: absolute;
	}

	.meny div:hover ul {
		display: block;
		background-color: #4d8b71;
	}

	.meny img {
		height: 25px;
		margin-right: 10px;
		margin-left: 0px;
	}

	.meny {
		background-color: #4d8b71;
	}

	.meny a { /*Når man lager meny med denne stilen, blir a-tagen selv en block, med standard utseende*/
				/*Bruk gjerne sammen med class vannrett*/
		display: block;
		text-decoration: none;
		color: white;
		font-size: 100%;
		padding: 25px;
	}

	.meny a:hover {
		background-color: #35614f;
	}

.ramme {
	margin: 0px 10% 0px 10%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}



.vannrett { /*Dette vil si at alle med class vannrett i navnet sitt vil flexes vannrett*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

li.vannrett {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}