label {/*Denne stilsettinga baserer seg på at man putter både input-elementet og tekst/bilder som hører til sammmen i label. Da legger forskjellige valg seg pent under hverandre*/
	display: block;
	font-size: 24px;
}

input[type="radio"], input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

input {
	font-size: 24px;/*Deilig med litt ekstra store input-felt*/
}