* {
	/*margin: 0px;*/
}

html, body {
	height: 100%;
	margin: 0px;
}

.ramme {
	margin: 5px 10% 5px 10%;
	padding: 25px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

[class*=Vannrett] { /*Dette vil si at alle classer med Vannrett i navnet sitt vil flexes vannrett*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

#boks1 {
	width: 150px;
	height: 150px;
	background-color: red;
	border-radius: 25px;
}

#boks1 p {
	text-align: center;
	font-size: 50px;
}

canvas {
	display: block;
	margin: 0px auto;
	background-color: darkblue;
	width: 100%;
	height: 100%;
}