html, body {
	margin: 0px;
	height: 100%;/*Tillater høydeflexing*/
	background-color: #404040;
	background-image: url("../media/bakgrunn.jpg");/*evt: https://i.imgur.com/oWg1SlN.jpg*/
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
}

#bakgrunnsmusikk {
	position: absolute;
	bottom: 0px;
}

.innhold {
	height: 100%;
	color: white;
	width: 100%;
}

.bakgrunn {
	position: fixed;
	opacity: 0.6;
}

.forgrunnRamme {
	position: absolute;
	width: 100%;
}

.forgrunn {
	/*position: fixed;*/
	top: 0%;
	width: 980px;
}

#angrepBakgrunn {
	background-color: red;
}

#forsvarBakgrunn {
	background-color: blue;
}

#angrepDiv, #forsvarDiv, #angrepBakgrunn, #forsvarBakgrunn {
	height: 100%;
}

.justerAntall div {
	font-size: 300%;
	font-weight: bold;
	font-family: calibri;
	text-align: center;
	margin: 10px;
	padding: 15px 25px 15px 25px;
	border-radius: 4px;
	background-color: #048a77;
	cursor: pointer;
}

#visAngripere, #visForsvarere {
	display: block;
	width: 165px;
	color: white;
	background-color: transparent;
	border: none;
	text-align: center;

	font-family: times;
	font-size: 800%;
	margin: 20px;
}

/*Kode for å fjerne piler i input til visAngripere og visForsvarere. Den virker som den er litt buggete*/
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {*/
    /* display: none; <- Crashes Chrome on hover */
  /*  -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
/*}*/

.velgTerninger select {
	font-size: 66px;
	width: 100%;
	padding: 15px;
}

.velgTerninger option {
	font-size: 22px;
}

.siste {
	margin: 25px;
	/**/height: 300px;/**/
	/**/background-color: transparent;/**/
	color: white;
	font-size: 1500%;
	font-weight: bold;
	text-align: center;
}

.visTerninger img {
	width: 25%;
	margin: 10px;
	background-color: white;
	border-radius: 17px;
}

#stoppRamme {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

#stopp {
	border-radius: 50px;
	background-color: #ff3232;
	cursor: pointer;

	font-size: 800%;
	color: white;
	text-align: center;
	padding: 40px;
}

#angripRamme {
	position: absolute;
	bottom: 120px;
	width: 100%;
}

#angrip {
	/** /border: 5px solid #790820;/**/
	border-radius: 25px;
	background-color: #00b000;
	cursor: pointer;

	font-size: 600%;
	color: white;
	text-align: center;
	padding: 25px;
}

#blitzRamme {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#blitz {
	/** /border: 5px solid #790820;/**/
	border-radius: 15px;
	background-color: #ff5722;
	cursor: pointer;

	font-size: 300%;
	color: white;
	text-align: center;
	padding: 25px 50px 25px 50px;
}

#varslinger {
	position: absolute;
	bottom: 0px;
	width: 80%;
	left: 10%;
	background-color: grey;
	opacity: 0.5;
	font-size: 500%;
}

/*For desktop:* /
@media only screen and (min-width: 981px) {
	.justerAntall div {
		font-size: 200%;
	}

	#visAngripere, #visForsvarere {
		font-size: 500%;
	}

	.velgTerninger select {
		font-size: 44px;
	}

	.siste {
		font-size: 1000%;
	}

	#stopp {
		font-size: 660%;
	}

	#angrip {
		font-size: 400%;
	}

	#angripBlitz {
		font-size: 300%;
	}

	#varslinger {
		font-size: 400%;
	}
}/**/


h1 {
	margin: 0px;
	padding: 25px 10px 25px 10px;/*Bytter avstand til padding fordi dette kan ødelegge høydeflexing*/
	text-align: center;
	font-size: 500%;
}

.header {
	height: 12%;
	font-size: 700%;
	/*background-color: white;*/
	color: white;
}

.ramme {
	margin: 0px 10% 0px 10%;
}

.meny {
	background-color: #bb6bce;
}

.meny a { /*Når man lager meny med denne stilen, blir a-tagen selv en block, med standard utseende*/
			/*Bruk gjerne sammen med class vannrett*/
	display: block;
	text-decoration: none;
	color: white;
	padding: 25px;
}

.meny a:hover {
	background-color: #824a90;
}


table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.vannrett { /*Dette vil si at alle med class vannrett i navnet sitt vil flexes vannrett*/
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/*-webkit-flex-wrap: wrap;
	flex-wrap: wrap;*/
}